/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-10-09, 19:45:40
    Author     : Olivier
*/
.topnav {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width:99%;
    background-color: black;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
}
     
    
    
    


li {
    float: left;
}


li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



li a:hover:not(.active) {
    background-color: aqua;
}

body {
    background : url("https://dic3m.github.io/Schoolproject/vintage.jpg") repeat
}

h2{
    color:gold
}

p{
    color: black;
}

h1{
    color: black;
        
}

p:hover{
    background-color: ghostwhite;
}
p:first-letter{
     display:block;
     float:left;
     margin: -20px 5px 0 0;
     color:cyan;
     font-size:3.0em;
     font-family:inherit;
}













